:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-dark: #333333;
  --color-gray-light: #F2F2F2;
  --color-blue-main: #82B3D3;
  --color-blue-light-1: #E6F0F6;
  --color-blue-light-2: #F0F6FA;
  --color-brown: #756157;
  --color-green: #7DB54F;
  --font-base: "PT Sans", sans-serif;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-brown);
  border: none;
  border-radius: 4px;
}

.search-hotels {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--color-blue-main);
  border: none;
}

.apply-button {
  background-color: var(--color-blue-main);
  border: none;
}

.add-to-favorites {
  background-color: var(--color-blue-main);
}

.in-favorites {
  background-color: var(--color-green);
}

.cancel-button {
  border: none;
  background-color: transparent;
}

.main-header {
  background-color: var(--color-white);
  color: var(--color-black);
}

.navigation {
  display: flex;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
}

.navigation-with-logo {
  display: flex;
}

.sedona-logo {
  display: block;
  position: relative;
  margin-right: 30px;
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-white);
}

.user-navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.user-navigation-item {
  margin-left: 14px;
}

.header-button {
  padding: 8px 34px;
}

.navigation-logo {
  width: 115px;
  height: 33px;
}

.text-logo {
  display: block;
  margin: 0 auto;
}

.welcome-block {
  height: 485px;
  padding-top: 51px;
  background-image: url("../images/index-background-welcome.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sedona-description {
  text-align: center;
  padding: 69px 274px;
  margin-bottom: 21px;
}

.big-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.small-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--color-gray-dark);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-photo {
  display: block;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 385px;
  text-align: center;
}

.blue-1 {
  background-color: var(--color-blue-main);
  color: var(--color-white);
}

.blue-2 {
  background-color: var(--color-blue-light-1);
}

.blue-3 {
  background-color: var(--color-blue-light-2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.blue-1-title {
  color: var(--color-white);
}

.advantages-description {
  color: var(--color-gray-dark);
}

.typical-block {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.search-hotel-block {
  text-align: center;
  padding: 64px 304px;
}

.subscribe-block {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
  color: var(--color-white);
  background-image: url("../images/index-background-subcribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.page-footer {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding-top: 40px;
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 40px;
  padding: 0;
  list-style-type: none;
}

.social-logo {
  display: block;
}

.footer-telephone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 50px;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
}

.htmlacademy-logo {
  display: block;
}

.inner-page-container {
  width: 1200px;
  margin: 0 auto;
}

.inner-block-container {
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  background-image: url("../images/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.inner-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1060px;
  color: var(--color-white);
  padding-top: 35px;
}

.inner-header-container {
  display: block;
  width: auto;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-living {
  display: flex;
}

.catalog-filter-group {
  display: block;
  padding: 0;
  margin: 0;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-other {
  display: flex;
}

.inner-content-container {
  margin: 0 auto;
  width: 1060px;
}

.catalog-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.select-settings {
  display: flex;
}

.display-variants {
  text-decoration: none;
}

.display-variant {
  text-decoration: none;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
}

.display-icon {
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-buttons {
  border: none;
}

.catalog-hotels-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 896px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.hotels-count {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-gray-dark);
  margin-right: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card {
  width: 340px;
  height: 438px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
}

.hotel-card-info {
  color: var(--color-gray-dark);
}

.hotel-card-rating-number {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-gray-dark);
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-blue-main);
  text-decoration: none;
}

.pagination-current {
  background-color: var(--color-gray-light);
  color: var(--color-black);
}

.ellopsis {
  background-color: transparent;
  color: var(--color-black);
}