:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-dark: #333333;
  --color-gray-light: #F2F2F2;

  --color-blue-main: #82B3D3;
  --color-blue-light-1: #E6F0F6;
  --color-blue-light-2: #F0F6FA;

  --color-brown: #756157;
  --color-green: #7DB54F;

  --font-base: "PT Sans", sans-serif;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.big-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.small-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--color-gray-dark);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-brown);
  border: none;
  border-radius: 4px;
}

.search-hotels,
.subscribe-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button,
.apply-button,
.add-to-favorites {
  background-color: var(--color-blue-main);
}

.in-favorites {
  background-color: var(--color-green);
}

.cancel-button {
  border: none;
  background-color: transparent;
}

.main-header {
  background-color: var(--color-white);
  color: var(--color-black);
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-white);
}

.navigation-logo {
  width: 115px;
  height: 33px;
}

.text-logo,
.social-logo,
.htmlacademy-logo {
  display: block;
}

.welcome-block {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 485px;
  background-image: url("../images/index-background-welcome.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.typical-block {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-photo {
  display: block;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 385px;
  text-align: center;
}

.blue-1 {
  background-color: var(--color-blue-main);
  color: var(--color-white);
}

.blue-2 {
  background-color: var(--color-blue-light-1);
}

.blue-3 {
  background-color: var(--color-blue-light-2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  color: var(--color-gray-dark);
}

.search-hotel-block {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.subscribe-block {
  height: 415px;
  padding-top: 96px;
  text-align: center;
  color: var(--color-white);
  background-image: url("../images/index-background-subcribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.page-footer {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding-top: 40px;
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 40px;
  padding: 0;
}

.footer-telephone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 50px;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
}

.inner-header {
  display: flex;
  width: 1200px;
  height: 412px;
  margin-bottom: 50px;
  color: var(--color-white);
  background-image: url("../images/catalog-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.catalog-settings {
  display: flex;
  margin-bottom: 40px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-buttons {
  border: none;
}

.catalog-hotels-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 896px;
  padding: 0;
  margin-bottom: 40px;
}

.hotels-count {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-gray-dark);
}

.display-variant,
.hotel-card-link,
.pagination-link {
  text-decoration: none;
}

.hotel-card {
  width: 340px;
  height: 438px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
}

.hotel-card-info,
.hotel-card-rating-number {
  color: var(--color-gray-dark);
}

.hotel-card-rating-number {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  padding: 0;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  margin-right: 8px;
}

.pagination-link {
  background-color: var(--color-blue-main);
  color: var(--color-white);
}

.pagination-current {
  background-color: var(--color-gray-light);
  color: var(--color-black);
}

.ellopsis {
  background-color: transparent;
  color: var(--color-black);
}
