:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-dark: #333333;
  --color-gray-light: #F2F2F2;
  --color-blue-main: #82B3D3;
  --color-blue-light: #68A2CA;
  --color-blue-light-1: #E6F0F6;
  --color-blue-light-2: #F0F6FA;
  --color-blue-very-light: #D2E3EF;
  --color-brown: #756157;
  --color-brown-dark: #615048;
  --color-green: #7DB54F;
  --color-green-dark: #6C9E42;
  --color-gray-border: #E6E6E5;
  --color-gray-field: #616161;
  --color-gray-outline: #E5E5E5;
  --color-gray-icon: #83B3D3;
  --color-gray-bg: #F2F2F2;
  --color-gray-decor: #E6E6E6;
  --font-base: "PT Sans", sans-serif;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: -10px 0 8px -5px var(--color-gray-light),
               10px 0 8px -5px var(--color-gray-light);
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-brown);
  border: none;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.button:disabled {
  color: var(--color-white);
  background-color: var(--color-gray-outline);
}

.search-hotels {
  margin: 0 auto;
  padding: 8px 50px;
  grid-row: 5;
  font-size: 20px;
  line-height: 36px;
}

.search-hotels:hover {
  background-color: var(--color-brown-dark);
}

.search-hotels:focus {
  background-color: var(--color-brown-dark);
}

.search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--color-blue-main);
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.subscribe-button:hover {
  background-color: var(--color-blue-light);
}

.subscribe-button:focus {
  background-color: var(--color-blue-light);
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.apply-button {
  background-color: var(--color-blue-main);
  border: none;
  padding: 8px 50px;
}

.apply-button:hover {
  background-color: var(--color-blue-light);
}

.apply-button:focus {
  background-color: var(--color-blue-light);
}

.apply-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-to-favorites {
  background-color: var(--color-blue-main);
}

.add-to-favorites:hover {
  background-color: var(--color-blue-light);
}

.add-to-favorites:focus {
  background-color: var(--color-blue-light);
}

.add-to-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.in-favorites {
  background-color: var(--color-green);
}

.in-favorites:hover {
  background-color: var(--color-green-dark);
}

.in-favorites:focus {
  background-color: var(--color-green-dark);
}

.in-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.cancel-button {
  border: none;
  background-color: transparent;
  padding: 8px 50px;
}

.cancel-button:hover {
  opacity: 60%;
}

.cancel-button:focus {
  border: 3px solid var(--color-blue-main);
}

.cancel-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.cancel-button:disabled {
  opacity: 10%;
}

.main-header {
  background-color: var(--color-white);
  color: var(--color-black);
  width: 1200px;
  margin: 0 auto;
  box-shadow: -10px 0 8px -5px var(--color-gray-light),
               10px 0 8px -5px var(--color-gray-light);
}

.navigation {
  display: flex;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
}

.navigation-with-logo {
  display: flex;
}

.sedona-logo {
  display: block;
  position: relative;
  margin-right: 30px;
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-white);
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: var(--color-brown);
  content: "";
}

.user-navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.user-navigation-item {
  margin-left: 20px;
}

.header-button {
  padding: 8px 34px;
}

.header-button:hover {
  background-color: var(--color-brown-dark);
}

.header-button:focus {
  background-color: var(--color-brown-dark);
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-brown);
}

.navigation-logo {
  fill: var(--color-black);
  position: relative;
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 115px;
  height: 33px;
}

.navigation-logo:hover {
  fill: var(--color-brown);
}

.navigation-logo:focus {
  fill: var(--color-brown);
}

.navigation-logo:active {
  fill: var(--color-gray-border);
}

.text-logo {
  display: block;
  margin: 0 auto;
}

.welcome-block {
  height: 485px;
  padding-top: 51px;
  background-image: url("../images/index-background-welcome.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sedona-description {
  display: grid;
  row-gap: 25px;
  text-align: center;
  padding: 69px 274px;
  margin-bottom: 21px;
}

.big-text {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.small-text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-gray-dark);
}

.small-text-grid {
  grid-row: 3;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-photo {
  display: block;
}

.advantages-item {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 230px;
  row-gap: 30px;
  width: 400px;
  height: 385px;
}

.advantages-icon {
  display: block;
  margin: 0 auto;
}

.advantages-line-blue {
  margin: 0 85px;
  grid-row: 2;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-line-grey {
  margin: 0 85px;
  grid-row: 2;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.blue-1 {
  background-color: var(--color-blue-main);
  color: var(--color-white);
}

.blue-2 {
  background-color: var(--color-blue-light-1);
}

.blue-3 {
  background-color: var(--color-blue-light-2);
}

.advantages-title {
  margin: 0 auto;
  width: 175px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.blue-1-title {
  color: var(--color-white);
}

.advantages-description {
  margin: 0;
  padding: 0;
  color: var(--color-gray-dark);
}

.typical-block {
  display: grid;
  gap: 20px;
  text-align: center;
  padding: 64px 347px;
}

.search-hotel-block {
  display: grid;
  grid-template-rows: min-content 20px auto 54px min-content;
  text-align: center;
  padding: 96px 304px;
}

.subscribe-block {
  display: block;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-block-background {
  background-image: url("../images/index-background-subcribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.subscribe-block-text {
  margin: 0 auto;
  width: 475px;
  display: grid;
  grid-template-rows: min-content auto;
  gap: 20px;
  margin-bottom: 54px;
}

.subscribe-text {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  width: 684px;
  display: grid;
  grid-template-columns: auto 232px;
}

.field {
  background-color: var(--color-gray-light);
  color: var(--color-gray-field);
  border-radius: 0;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
}

.page-footer {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding-top: 40px;
  box-shadow: -10px 0 8px -5px var(--color-gray-light),
               10px 0 8px -5px var(--color-gray-light);
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  fill: var(--color-gray-icon);
  position: relative;
  display: block;
  text-decoration: none;
  width: 48px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.footer-social-item:hover {
  fill: var(--color-blue-light);
}

.footer-social-item:focus {
  fill: var(--color-blue-light);
}

.footer-social-item:active {
  fill: var(--color-blue-very-light);
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-telephone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 50px;
}

.footer-telephone {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
  color: var(--color-black);
  text-decoration: none;
}

.footer-telephone:hover {
  color: var(--color-brown);
}

.footer-telephone:focus {
  color: var(--color-brown);
}

.footer-telephone:active {
  color: var(--color-gray-border);
}

.htmlacademy-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.inner-page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: -10px 0 8px -5px var(--color-gray-light),
               10px 0 8px -5px var(--color-gray-light);
}

.inner-block-container {
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  background-image: url("../images/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.inner-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1060px;
  color: var(--color-white);
  padding-top: 35px;
}

.inner-header-container {
  display: block;
  width: auto;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-living {
  display: flex;
}

.catalog-filter-group {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-cost {
  margin-right: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-other {
  display: flex;
}

.catalog-filter-buttons {
  margin-top: 56px;
  border: none;
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 32px;
}

.inner-content-container {
  margin: 0 auto;
  width: 1060px;
  margin-bottom: 60px;
}

.catalog-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.select-settings {
  display: flex;
}

.display-variants {
  text-decoration: none;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 8px;
}

.display-variant {
  display: block;
  text-decoration: none;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  outline: 2px solid var(--color-gray-outline);
  border-radius: 4px;
}

.display-variant:hover {
  outline: 2px solid var(--color-black);
}

.display-variant:focus {
  outline: 2px solid var(--color-blue-light);
}

.display-variant:focus:not(:focus-visible) {
  outline: none;
}

.display-variant:focus-visible {
  outline: 2px solid var(--color-blue-light);
}

.display-variant:active {
  outline: 2px solid var(--color-black);
}

.display-variant-table {
  background-image: url("../images/view-table.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.display-variant-slideshow {
  background-image: url("../images/view-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.display-variant-list {
  background-image: url("../images/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter-title {
  padding: 0;
  margin: 0 0 32px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.hotels-count {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-gray-dark);
  margin-right: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  gap: 20px;
  list-style-type: none;
}

.catalog-decorate-line {
  margin: 0 auto;
  width: auto;
  height: 1px;
  background-color: var(--color-gray-decor);
  content: "";
  margin-bottom: 40px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card {
  background-color: var(--color-white);
  padding: 20px;
  display: grid;
  grid-template-rows: 212px min-content auto min-content min-content;
  grid-template-columns: 140px 140px;
  gap: 16px;
  border: 1px solid var(--color-gray-border);
  border-radius: 4px;
}

.hotel-card-image-link {
  grid-column: 1 / -1;
  grid-row: 1;
  text-decoration: none;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  grid-row: 2;
  text-decoration: none;
}

.hotel-card-type {
  color: var(--color-gray-dark);
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  padding: 0;
}

.hotel-card-price {
  color: var(--color-gray-dark);
  text-align: right;
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  padding: 0;
}

.hotel-card-button-detail {
  grid-column: 1;
  grid-row: 4;
}

.hotel-card-button-detail:hover {
  background-color: var(--color-brown-dark);
}

.hotel-card-button-detail:focus {
  background-color: var(--color-brown-dark);
}

.hotel-card-button-detail:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-stars {
  grid-column: 1;
  grid-row: 5;
  display: flex;
  align-items: center;
}

.hotel-card-star {
  width: 18px;
  height: 17px;
  display: block;
}

.hotel-card-star:not(:last-child) {
  margin-right: 6px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
  margin: 0;
  padding: 0;
}

.hotel-card-info {
  color: var(--color-gray-dark);
}

.hotel-card-rating-number {
  grid-column: 2;
  grid-row: 5;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-gray-dark);
  background-color: var(--color-gray-bg);
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-blue-main);
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-blue-main);
}

.pagination-link:focus {
  background-color: var(--color-blue-light);
  border: 1px solid var(--color-blue-main);
}

.pagination-link:active {
  color: #A7CAE0;
  background-color: var(--color-blue-main);
}

.pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--color-gray-light);
  color: var(--color-black);
}

.ellopsis {
  background-color: transparent;
  color: var(--color-black);
}